# Virtual environment
venv/

# Compiled Python files
*.pyc
__pycache__

# Django
db.sqlite3
*.log

# Media files
media/

# Static files
staticfiles/

# Ignore migrations
**/migrations/


# Ignore environment variables file
.env


# Ignore IDE-specific files
.idea/
.vscode/

# Ignore pycache
__pycache__/
